{% extends 'admin/change_list.html' %}
{% block object-tools %}
    <!--
    <form id="update-from" method="post">
    {% csrf_token %}
        <div class="form-row field-kill">
            <div>
                <label class="required" for="id_kill">Kill:</label>
                <input type="number" name="kill" class="vTextField"  id="id_kill">
            </div>
        </div>
        <div class="form-row field-earn">
            <div>
                <label class="required" for="id_earn">Earn</label>
                <input type="number" name="earn" class="vTextField"  id="id_earn">
            </div>
        </div>
        <button class="button" type="submit">Update Value</button>
    </form>
    -->
    {{ block.super }}
{% endblock object-tools %}